{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-require-imports": "off",
    "@typescript-eslint/no-var-requires": "off",
    "space-before-function-paren": "error",
    "no-undef": "off",
    "array-bracket-spacing": "error",
    "comma-dangle":"error",
    "space-before-blocks": "error",
    "@typescript-eslint/prefer-as-const": "error"
  }
}
